* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0 auto;

    font-family: 'Overpass', sans-serif;
    font-family: 'Ubuntu', sans-serif;

}

.header {
    width: 100%;
    background-image: linear-gradient(hsl(353, 100%, 62%),hsl(13, 100%, 72%));
    border-radius: 0 0 0 100px;
}

.header-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    font-size: 3rem;
    font-weight: 500;
    color: hsl(0, 0%, 100%);

    padding-bottom: 1.25rem;
}

.header-content {
    font-size: 16px;
    color: rgba(255, 255, 255, 75%);

    padding-bottom: 2rem;
}

.header-btns {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 7rem;
}

.header-btns .btn {
    padding: 0.75rem 1rem;
}

.navbar {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 4rem;
    
    padding-top: 3rem;
    padding-bottom: 7rem;
}

.logo {
    width: 75px;
    height: 35px;
}

.hamburger {
    width: 40px;
    height: 25px;
    display: none;

    cursor: pointer;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-item {
    position: relative;
}

.nav-item__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
    cursor: pointer;
}

.nav-item__header:hover {
    text-decoration: underline;
    color: hsl(0, 0%, 100%);
}

.nav-item__header p {
    font-size: 16px;
    color: rgba(255, 255, 255, 75%);
}

.nav-item__header img {
    width: 10px;
    height: 7px;
}

.nav-btns {
    display: flex;
    align-items: center;
}

.btn {
    border-radius: 50px;
    border: none;
    padding: 0.75rem 2rem;
    background: transparent;

    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 75%);

    cursor: pointer;
}

.fill {
    background-color: white;
    color: hsl(356, 100%, 66%);
}

.outline {
    border: 1px solid rgba(255, 255, 255, 75%);
}

.close {
    display: none;
}

.rotate {
    transform: rotate(180deg);
}

/* Main Styling */
main {
    width: 100%;
}

.dark-gd,
.section {
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    padding: 10rem 0;
}

.section-title {
    font-size: 2rem;
    font-weight: 500;
    color:hsl(208, 49%, 24%);
    text-align: center;

    margin-bottom: 5rem;
}

.dark-gd article,
.section article {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.flex-end {
    align-items: flex-end;
}

.dark-gd article div,
.section article div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section article div h2 {
    font-size: 1.25rem;
    font-weight: 500;
    color: hsl(208, 49%, 24%);
}

.section article div p {
    font-size: 16px;
    font-weight: 500;
    color: hsl(207, 13%, 34%);
    line-height: 1.5;
}

.dark-gd {
    background: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    border-radius: 0 100px 0 100px;
    padding: 5rem 0;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.dark-gd .flex-end img {
    position: absolute;
    left: 25%;
    top: 0;
    transform: translate(-50%, -10%);
}

.dark-gd .flex-end div h2 {
    font-size: 2rem;
    font-weight: 500;
    color:hsl(0, 0%, 100%);
}

.dark-gd .flex-end div p {
    color: hsla(0, 0%, 100%, 0.5);
    line-height: 1.5;
}

/* Footer Styling */
.footer {
    background-color: hsl(240, 10%, 16%);
    border-radius: 0 100px 0 0;
    padding: 5rem 0;

    position: relative;
}

.footer-container {
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer-links {
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-left: 15rem;
}

.footer-links div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-links div p {
    font-size: 16px;
    color: hsl(207, 13%, 34%);

    cursor: pointer;
}

.footer-links div p:hover {
    text-decoration: underline;
    cursor: default;
}

.footer-links div p:first-child {
    padding-bottom: 1rem;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.attribution { 
    width: 100%;

    position: absolute;
    bottom: 0;

    text-align: center;

    font-size: 11px; 
    color: hsl(0, 0%, 100%); 
}

@media screen and (min-width: 1440px) {
    .header-container,
    .section {
        max-width: 1440px;
        margin: 0 auto;
    }

    .nav.close {
        display: flex;
    }
}

@media screen and (max-width: 1440px) {
    .header-container {
        width: 80%;
        margin: 0 auto;
    }

    .nav.close {
        display: flex;
    }

    .close {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .dropdown {
        position: absolute;
        top: 0;
        left: -25%;
    
        width: 115px;
    
        background-color: hsl(0, 0%, 100%);
        margin-top: 2rem;
        border-radius: 5px;
        padding: 1.25rem 0 1.25rem 1.25rem;
    
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .dropdown p {
        font-size: 14px;
        color: hsl(207, 13%, 34%);
    
        cursor: pointer;
    }
    
    .dropdown p:hover {
        font-weight: 700;
    }

    .dropdown.close {
        display: none;
    }

    .right {
        width: 700px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(200px, 10%);
    }
    
    .left {
        width: 700px;
        position: absolute;
        left: 0;
        transform: translate(-200px, -120px);
    }
}

@media screen and (max-width: 1000px) {
    .navbar {
        justify-content: space-between;
    }

    .nav.close {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .nav {
        background-color: white;

        width: 80%;
        border-radius: 10px;
        padding: 2rem 0;

        position: absolute;
        top: 125px;
        left: 0;
        margin-left: 10%;

        flex-direction: column;
        align-items: center;

        box-shadow: 0 10px 10px 0 rgba(128, 128, 128, 0.25);
        z-index: 99;
    }

    .nav-items {
        width: 90%;
        margin: 0 auto;

        flex-direction: column;
        justify-content: center;

        gap: 2rem;

        margin-bottom: 1rem;

        padding-bottom: 2rem;
        border-bottom: 1px solid rgba(0, 0, 0, .15);
    }

    .nav-item {
        width: 100%;

        justify-content: center;
    }

    .nav-item__header {
        justify-content: center;
    }

    .nav-item__header p {
        font-size: 20px;
        font-weight: 500;
        color: hsl(228, 45%, 44%);
    }

    .nav-btns {
        flex-direction: column;
        gap: 1rem;
    }

    .nav-btns .btn {
        font-size: 16px;
        font-weight: 600;
        color:hsl(228, 45%, 44%);

        cursor: pointer;
    }

    .nav-btns .fill {
        color: hsl(0, 0%, 100%);
        background: linear-gradient(hsl(353, 100%, 62%),hsl(13, 100%, 72%) )
    }

    .dropdown {
        width: 100%;
        margin: 0 auto;

        background-color: rgba(128, 128, 128, 0.2);
        border-radius: 5px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        margin-top: 1.5rem;
        padding: 1rem 0;
    }
    
    .dropdown p {
        font-size: 16px;
        color: hsl(228, 45%, 44%);
    
        cursor: pointer;
    }
    
    .dropdown p:hover {
        font-weight: 800;
    }

    .dropdown.close {
        display: none;
    }

    .section {
        align-items: center;
    }

    .section article {
        align-items: center;
    }

    .header-container {
        width: 100%;
    }

    .header-title {
        font-size: 2.5rem;
        text-align: center;
        padding: 1rem;
    }

    .header-content {
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 2rem;
    }

    .section img {
        width: 100%;
    }

    .section {
        width: 100%;
    }

    .section article {
        width: 100%;
    }

    .section article div {
        width: 90%;
        text-align: center;
    }

    .dark-gd .flex-end {
        justify-content: center;
        align-items: center;
        text-align: center;

        padding-top: 10rem;
    }

    .dark-gd .flex-end div {
        width: 100%;
    }

    .dark-gd .flex-end img{
        width: 350px;
        top: -20%;
        left: 50%;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .footer-container img {
        margin-bottom: 5rem;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        margin: 0;
        text-align: center;
    }
}